<%- include("./partials/_header") %>
    <nav class ="navbar navbar-dark bg-dark md-4">
        <a href="/" class ="navbar-brand">CRUD NodeMongo</a>
    </nav>

    <div class='container'>
        <h1>HELLO WORD</h1>
    </div>
<%- include("./partials/_footler") %>
