<!-- un layout es un plantilla en la que colocamos codigo html que se repite y de cualquier otra plantilla vamos a llamar a esta primera.-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTES app</title>
</head>
<body>
    {{{body}}}
</body>
</html>